.App {
  text-align: center;
  background-color: lightcyan;
}

.App-intro {
  font-size: large;
}

.ToDo {
  display: inline-block;
  position: relative;
 

}

.List {
  position: relative;
  bottom: 150px;
  display: inline-block;
  text-align: left;
  left: 50px;
  list-style-type: none;
  margin: auto;
  font-family: "Times New Roman", Times, serif;
 
 
}

.ul {
  list-style: none;
  
}

li {
  list-style-type: none;
  
}



